@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


<div class="container">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
     <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">

        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.State"></label>
                <input asp-for="Input.State" class="form-control" />
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label asp-for="Input.VoterId"></label>
                <input asp-for="Input.VoterId" class="form-control" />
                <span asp-validation-for="Input.VoterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.VoterName"></label>
                <input asp-for="Input.VoterName" class="form-control" />
                <span asp-validation-for="Input.VoterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>

</form>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
